/*
 * Wire4RestAPI
 * Referencia de API. La API de Wire4 está organizada en torno a REST.
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package mx.wire4.api;

import mx.wire4.ApiCallback;
import mx.wire4.ApiClient;
import mx.wire4.ApiException;
import mx.wire4.ApiResponse;
import mx.wire4.Configuration;
import mx.wire4.Pair;
import mx.wire4.ProgressRequestBody;
import mx.wire4.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import mx.wire4.model.ErrorResponse;
import mx.wire4.model.MessageConfigurationsLimits;
import mx.wire4.model.UpdateConfigurationsRequestDTO;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class LmitesDeMontosApi {
    private ApiClient apiClient;

    public LmitesDeMontosApi() {
        this(Configuration.getDefaultApiClient());
    }

    public LmitesDeMontosApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for obtainConfigurationsLimits
     * @param authorization Header para token (required)
     * @param suscription Identificador de la suscripción a esta API (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call obtainConfigurationsLimitsCall(String authorization, String suscription, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/subscriptions/{suscription}/configurations"
            .replaceAll("\\{" + "suscription" + "\\}", apiClient.escapeString(suscription.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call obtainConfigurationsLimitsValidateBeforeCall(String authorization, String suscription, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling obtainConfigurationsLimits(Async)");
        }
        // verify the required parameter 'suscription' is set
        if (suscription == null) {
            throw new ApiException("Missing the required parameter 'suscription' when calling obtainConfigurationsLimits(Async)");
        }
        
        com.squareup.okhttp.Call call = obtainConfigurationsLimitsCall(authorization, suscription, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Consulta las configuraciones para el contrato asocaido al enrolamiento en la aplicación
     * Consulta las configuraciones para el contrato asocaido al enrolamiento en la aplicación.
     * @param authorization Header para token (required)
     * @param suscription Identificador de la suscripción a esta API (required)
     * @return MessageConfigurationsLimits
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public MessageConfigurationsLimits obtainConfigurationsLimits(String authorization, String suscription) throws ApiException {
        ApiResponse<MessageConfigurationsLimits> resp = obtainConfigurationsLimitsWithHttpInfo(authorization, suscription);
        return resp.getData();
    }

    /**
     * Consulta las configuraciones para el contrato asocaido al enrolamiento en la aplicación
     * Consulta las configuraciones para el contrato asocaido al enrolamiento en la aplicación.
     * @param authorization Header para token (required)
     * @param suscription Identificador de la suscripción a esta API (required)
     * @return ApiResponse&lt;MessageConfigurationsLimits&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<MessageConfigurationsLimits> obtainConfigurationsLimitsWithHttpInfo(String authorization, String suscription) throws ApiException {
        com.squareup.okhttp.Call call = obtainConfigurationsLimitsValidateBeforeCall(authorization, suscription, null, null);
        Type localVarReturnType = new TypeToken<MessageConfigurationsLimits>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Consulta las configuraciones para el contrato asocaido al enrolamiento en la aplicación (asynchronously)
     * Consulta las configuraciones para el contrato asocaido al enrolamiento en la aplicación.
     * @param authorization Header para token (required)
     * @param suscription Identificador de la suscripción a esta API (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call obtainConfigurationsLimitsAsync(String authorization, String suscription, final ApiCallback<MessageConfigurationsLimits> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = obtainConfigurationsLimitsValidateBeforeCall(authorization, suscription, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<MessageConfigurationsLimits>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateConfigurations
     * @param body updateConfigurationsResquestDTO (required)
     * @param authorization Header para token (required)
     * @param suscription suscription (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateConfigurationsCall(UpdateConfigurationsRequestDTO body, String authorization, String suscription, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/subscriptions/{suscription}/configurations"
            .replaceAll("\\{" + "suscription" + "\\}", apiClient.escapeString(suscription.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateConfigurationsValidateBeforeCall(UpdateConfigurationsRequestDTO body, String authorization, String suscription, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling updateConfigurations(Async)");
        }
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling updateConfigurations(Async)");
        }
        // verify the required parameter 'suscription' is set
        if (suscription == null) {
            throw new ApiException("Missing the required parameter 'suscription' when calling updateConfigurations(Async)");
        }
        
        com.squareup.okhttp.Call call = updateConfigurationsCall(body, authorization, suscription, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Actualiza las configuraciones por subscripción
     * Actualiza las configuraciones de un contrato asociado a una subscripción
     * @param body updateConfigurationsResquestDTO (required)
     * @param authorization Header para token (required)
     * @param suscription suscription (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void updateConfigurations(UpdateConfigurationsRequestDTO body, String authorization, String suscription) throws ApiException {
        updateConfigurationsWithHttpInfo(body, authorization, suscription);
    }

    /**
     * Actualiza las configuraciones por subscripción
     * Actualiza las configuraciones de un contrato asociado a una subscripción
     * @param body updateConfigurationsResquestDTO (required)
     * @param authorization Header para token (required)
     * @param suscription suscription (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> updateConfigurationsWithHttpInfo(UpdateConfigurationsRequestDTO body, String authorization, String suscription) throws ApiException {
        com.squareup.okhttp.Call call = updateConfigurationsValidateBeforeCall(body, authorization, suscription, null, null);
        return apiClient.execute(call);
    }

    /**
     * Actualiza las configuraciones por subscripción (asynchronously)
     * Actualiza las configuraciones de un contrato asociado a una subscripción
     * @param body updateConfigurationsResquestDTO (required)
     * @param authorization Header para token (required)
     * @param suscription suscription (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateConfigurationsAsync(UpdateConfigurationsRequestDTO body, String authorization, String suscription, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateConfigurationsValidateBeforeCall(body, authorization, suscription, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
}
