/*
 * Wire4RestAPI
 * Referencia de la API de Wire4
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package mx.wire4.api;

import mx.wire4.ApiCallback;
import mx.wire4.ApiClient;
import mx.wire4.ApiException;
import mx.wire4.ApiResponse;
import mx.wire4.Configuration;
import mx.wire4.Pair;
import mx.wire4.ProgressRequestBody;
import mx.wire4.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import mx.wire4.model.CodiCodeQrResponseDTO;
import mx.wire4.model.CodiCodeRequestDTO;
import mx.wire4.model.ErrorResponse;
import mx.wire4.model.PaymentRequestCodiResponseDTO;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class PeticionesDePagoPorCoDiApi {
    private ApiClient apiClient;

    public PeticionesDePagoPorCoDiApi() {
        this(Configuration.getDefaultApiClient());
    }

    public PeticionesDePagoPorCoDiApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for consultCodiRequestByOrderId
     * @param authorization Header para token (required)
     * @param orderId Identificador del pago CODI® (required)
     * @param salesPointId Identificador del punto de venta (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call consultCodiRequestByOrderIdCall(String authorization, String orderId, String salesPointId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/codi/sales-point/charges";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (orderId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("orderId", orderId));
        if (salesPointId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("salesPointId", salesPointId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call consultCodiRequestByOrderIdValidateBeforeCall(String authorization, String orderId, String salesPointId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling consultCodiRequestByOrderId(Async)");
        }
        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling consultCodiRequestByOrderId(Async)");
        }
        // verify the required parameter 'salesPointId' is set
        if (salesPointId == null) {
            throw new ApiException("Missing the required parameter 'salesPointId' when calling consultCodiRequestByOrderId(Async)");
        }
        
        com.squareup.okhttp.Call call = consultCodiRequestByOrderIdCall(authorization, orderId, salesPointId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Consulta información de petición por orderId
     * Obtiene la información de una petición de pago CODI® por orderId para un punto de venta.
     * @param authorization Header para token (required)
     * @param orderId Identificador del pago CODI® (required)
     * @param salesPointId Identificador del punto de venta (required)
     * @return PaymentRequestCodiResponseDTO
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PaymentRequestCodiResponseDTO consultCodiRequestByOrderId(String authorization, String orderId, String salesPointId) throws ApiException {
        ApiResponse<PaymentRequestCodiResponseDTO> resp = consultCodiRequestByOrderIdWithHttpInfo(authorization, orderId, salesPointId);
        return resp.getData();
    }

    /**
     * Consulta información de petición por orderId
     * Obtiene la información de una petición de pago CODI® por orderId para un punto de venta.
     * @param authorization Header para token (required)
     * @param orderId Identificador del pago CODI® (required)
     * @param salesPointId Identificador del punto de venta (required)
     * @return ApiResponse&lt;PaymentRequestCodiResponseDTO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PaymentRequestCodiResponseDTO> consultCodiRequestByOrderIdWithHttpInfo(String authorization, String orderId, String salesPointId) throws ApiException {
        com.squareup.okhttp.Call call = consultCodiRequestByOrderIdValidateBeforeCall(authorization, orderId, salesPointId, null, null);
        Type localVarReturnType = new TypeToken<PaymentRequestCodiResponseDTO>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Consulta información de petición por orderId (asynchronously)
     * Obtiene la información de una petición de pago CODI® por orderId para un punto de venta.
     * @param authorization Header para token (required)
     * @param orderId Identificador del pago CODI® (required)
     * @param salesPointId Identificador del punto de venta (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call consultCodiRequestByOrderIdAsync(String authorization, String orderId, String salesPointId, final ApiCallback<PaymentRequestCodiResponseDTO> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = consultCodiRequestByOrderIdValidateBeforeCall(authorization, orderId, salesPointId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PaymentRequestCodiResponseDTO>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for generateCodiCodeQR
     * @param body Información del pago CODI® (required)
     * @param authorization Header para token (required)
     * @param salesPointId Identificador del punto de venta (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call generateCodiCodeQRCall(CodiCodeRequestDTO body, String authorization, String salesPointId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/codi/sales-point/charges";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (salesPointId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("salesPointId", salesPointId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (authorization != null)
        localVarHeaderParams.put("Authorization", apiClient.parameterToString(authorization));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call generateCodiCodeQRValidateBeforeCall(CodiCodeRequestDTO body, String authorization, String salesPointId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling generateCodiCodeQR(Async)");
        }
        // verify the required parameter 'authorization' is set
        if (authorization == null) {
            throw new ApiException("Missing the required parameter 'authorization' when calling generateCodiCodeQR(Async)");
        }
        // verify the required parameter 'salesPointId' is set
        if (salesPointId == null) {
            throw new ApiException("Missing the required parameter 'salesPointId' when calling generateCodiCodeQR(Async)");
        }
        
        com.squareup.okhttp.Call call = generateCodiCodeQRCall(body, authorization, salesPointId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Genera código QR
     * Genera un código QR solicitado por un punto de venta para un pago mediante CODI®
     * @param body Información del pago CODI® (required)
     * @param authorization Header para token (required)
     * @param salesPointId Identificador del punto de venta (required)
     * @return CodiCodeQrResponseDTO
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CodiCodeQrResponseDTO generateCodiCodeQR(CodiCodeRequestDTO body, String authorization, String salesPointId) throws ApiException {
        ApiResponse<CodiCodeQrResponseDTO> resp = generateCodiCodeQRWithHttpInfo(body, authorization, salesPointId);
        return resp.getData();
    }

    /**
     * Genera código QR
     * Genera un código QR solicitado por un punto de venta para un pago mediante CODI®
     * @param body Información del pago CODI® (required)
     * @param authorization Header para token (required)
     * @param salesPointId Identificador del punto de venta (required)
     * @return ApiResponse&lt;CodiCodeQrResponseDTO&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CodiCodeQrResponseDTO> generateCodiCodeQRWithHttpInfo(CodiCodeRequestDTO body, String authorization, String salesPointId) throws ApiException {
        com.squareup.okhttp.Call call = generateCodiCodeQRValidateBeforeCall(body, authorization, salesPointId, null, null);
        Type localVarReturnType = new TypeToken<CodiCodeQrResponseDTO>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Genera código QR (asynchronously)
     * Genera un código QR solicitado por un punto de venta para un pago mediante CODI®
     * @param body Información del pago CODI® (required)
     * @param authorization Header para token (required)
     * @param salesPointId Identificador del punto de venta (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call generateCodiCodeQRAsync(CodiCodeRequestDTO body, String authorization, String salesPointId, final ApiCallback<CodiCodeQrResponseDTO> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = generateCodiCodeQRValidateBeforeCall(body, authorization, salesPointId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CodiCodeQrResponseDTO>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
